################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Donjornight-Autominer/v15/Server/sqlite3
/Donjornight-Autominer/bin/Debug/switch-radeon-gpu.exe
/Donjornight-Autominer/bin/Debug/restart.bat
